h2 {
    color: #333;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    text-emphasis-color: #1d532b;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(94, 219, 55, 0);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-right: 40%;
    margin-top: 2%;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    margin-top: 5px;
    padding: 6px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
}

button {
    padding: 8px 12px;
    margin-top: 7%;
    margin-left: 25%;
    border: none;
    background-color: #1d532b;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.2s;
    width: 50%;
}

button:hover {
    background-color: #09852e;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    background: #fff;
}


.botao-foto {
 padding: 8px 12px;
    margin-top: 10px;
    margin-right: 5px;
    border: none;
    background-color: #1d532b;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.2s;
    text-align: center;
}


.botao-foto {
 padding: 8px 12px;
    margin-top: 10px;
    margin-right: 5px;
    border: none;
    background-color: #1d532b;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.2s;
    text-align: center;
}

.botao-foto:hover {
    background-color: #218838; /* verde mais escuro no hover */
}

.ondas {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    min-width: 200px;
    object-fit: cover;
    z-index: 1;
}


.corpo {
    position: relative;
}

/* Botão de adicionar imagens */
.add-foto-btn {
  cursor: pointer;
  display: inline-block;
  padding: 4px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  margin-bottom: 8px;
}

.add-foto-btn:hover {
  background-color: #0056b3;
}

/* Container das fotos */
.fotos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

/* Cada miniatura */
.foto-preview {
  position: relative;
  width: 96px;   /* tamanho da miniatura */
  height: 96px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Imagem dentro da miniatura */
.foto-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
}
