.header {
    background-color: #f5f4f3;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    font-family: 'LazyDog', sans-serif;

}

.linksNAV {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0;
    margin: 0;
    position: relative;
}


.linksNAV a {
    text-decoration: none;
    color: #2f4736;
    font-weight: bold;
    font-size: 14px;
}

.linksNAV li {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:#f5f4f3;
    border: none;
}


.linksNAV li:hover {
    border-bottom: 2px solid #2f4736;

}

.logo img {
    height: 100%;
}

.icone2
.icone {
    display: flex;
    height: 100%;
}

.icone2 a
.icone a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}


.icone2 img
.icone img {
    height: 100%;
    cursor: pointer;
}

.icone {
    position: relative;
    left: 150px;
}
