.header {
    background-color: hsl(100, 34%, 68%);
    padding: 10px 20px;
    color: rgb(85, 151, 118);
}

.linksNAV {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linksNAV a:hover {
    text-decoration: underline;
}