

.bannerHomepage {
    background-image: url(../assets/banner.png);
    background-size: 110%;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: white;
    text-align: center;
}

.bannerHomepage p {
    font-size: 48px;
    max-width: 700px;
    margin-bottom: 2rem;
    margin-top: 10%;
}

.bannerHomepage button {
    width: 30%;
    height: 10;
    background-color: rgb(7, 97, 19);
    cursor: grab;
    margin-top: 7.5%;
    font-size: 30px;
}

/*destaques*/
#cards {
    background-color: #f3f3f3;
}


.tituloDestaques {
    display: flex;
    justify-content: left;
    width: 25%;

}

.tituloDestaques h2{
    color: white;
    font-size: 24px;
    background: rgb(0, 140, 12);
    padding: 12px 24px;
    border-radius: 0 0 50% 0;
    margin-bottom: 30px;
}

.destaquesHomepage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;


}

.cartaoDestaque{
    border: 1px solid rgb(39, 39, 39);
    border-radius: 16px;
    padding: 16px;
    width: 260px;
    text-align: center;
    background-color: rgb(208, 208, 208);
}


.cartaoDestaque h5 {
    margin: 10px 0 4px;
}




/*impacto*/
#impacto {
    padding: 60px 20px;
    text-align: center;
}


.impactoHomepage h1 {
    font-size: 32px;
    margin-bottom: 1rem;
    color: #2e7d32;
}

.impactoHomepage p {
font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
}

.negrito{
    font-weight: bolder;
}